#animasyonBox {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    z-index: -100;
 }

 #asset1,#asset3,#asset4,#asset5,#asset6, #asset8,#asset9,#asset10,#asset11,
 #asset12,#asset13,#asset14, #asset15,#asset16{
    position: fixed;
    top: -150vh;
    left:-150vh;
    width: 20vw;
    height: 20vw;
    opacity: .8;

 }
/* Asset 1 için css animasyon - orange half circle */
#asset1 {
height:5%;
animation-name: asset1;
animation-duration: 3s;
animation-delay: 2s;
animation-timing-function: linear;
animation-fill-mode: forwards;
}

@keyframes asset1 {
    0% {
    top: -20vw;
    left: -20vw;
    transform: rotate(180deg);
    }

    100% {
        top: 10vh;
        left: 40vh;
        height: 25vw;
        transform: rotate(-90deg);
        opacity: .8;
    }
}

/* Asset3 için css animasyon -  blue rectangle */
#asset3 {
    animation-name: asset3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes asset3 {
0% {
    top: 0vh;
    left: 150vh;
    transform: rotate(200deg);
    }
100% {
        top: 48vh;
        left: 3vh;
        transform: rotate(0deg);
}
}



/* Asset4 için css animasyon - yellow circle */
#asset4 {
    animation-name: asset4;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset4 {
    0% {
        top: 40vh;
        left: -60vh;
        width: 0vw;
        height: 0vw;
        transform: rotate(200deg);
        }
    100% {
            top: 75vh;
            left: 50vh;
            width: 20vw;
            height: 30vw;
            transform: rotate(0deg);
            opacity: 80%;
    }
    }


/* Asset5 için css animasyon - blue half circle */
#asset5 {
    animation-name: asset5;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset5 {
    0% {
        top: 220vh;
        left: 250vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(300deg);
        }
    100% {
            top: -40vh;
            left: -55vh;
            width: 40vw;
            height: 60vw;
            opacity: .2;
            transform: rotate(7deg);
    }
    }

    /* Asset8 için css animasyon - bos circle */
#asset8 {
    animation-name: asset8;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset8 {
    0% {
        top: -70vh;
        left: -70vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(300deg);
        }
    100% {
            top: -2vh;
            left: 10vh;
            width: 180vw;
            opacity: .2;
            transform: rotate(20deg);
    }
    }

/* Asset16 için css animasyon - ceyrek daire bos */
 #asset16 {
    animation-name: asset16;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset16 {
    0% {
        top: -50vh;
        left: -250vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(0deg);
        }
    100% {
            top: 20vh;
            left: 80vh;
            width: 70vw;
            opacity: .8;
            transform: rotate(260deg);
    }
    }


    /* Asset15 için css animasyon - ceyrek daire dolu mavi */
#asset15 {
    animation-name: asset15;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset15 {
    0% {
        top: -150vh;
        left: -50vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(0deg);
        }
    100% {
            top: 50vh;
            left: 130vh;
            width: 40vw;
            height: 40vw;
            opacity: .2;
            transform: rotate(220deg);
    }
    }

        /* Asset11 için css animasyon */
/* #asset11 {
    animation-name: asset11;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset11 {
    0% {
        top: -150vh;
        left: -50vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(0deg);
        }
    100% {
            top: 10vh;
            left: 90vh;
            width: 40vw;
            height: 40vw;
            opacity: .2;
            transform: rotate(220deg);
    }
    } */

            /* Asset13 için css animasyon - red circle */
#asset13{
    animation-name: asset13;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    
    @keyframes asset13 {
    0% {
        top: -150vh;
        left: -50vh;
        width: 0vh;
        height: 0vh;
        transform: rotate(0deg);
        }
    100% {
            top: 45vh;
            left: 88vh;
            width: 30vw;
            height: 40vw;
            opacity: .5;
            transform: rotate(220deg);
    }
    }